/* -------- Body de todos arquivos ------------ */
body {
  padding-top: 62px;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* ---------- Página Home ----------- */
.card-section,
#footer > div,
#loginpage .main-login div,
#app .main-app {
  border-color: var(--cor-8) !important;
}

#homepage .main-home, #instrucao .main-instrucao {
  padding: 180px 0 140px 0;
  background: url("../img/bg-main-2.svg"), var(--grad-2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

#homepage .sec-1 img {
  filter: drop-shadow(-2px 2px 10px rgba(0, 0, 0, 0.204));
}

@media (max-width: 768px) {
  #homepage .main-home {
    padding: 80px 60px;
  }
}

#homepage .sec-2 > div {
  max-width: 1160px;
}

#homepage .sec-3{
  background: url("../img/decorador-home-2.svg");
  background-repeat: repeat-y;
  background-position: 1100px center;
  background-attachment: fixed;
}

/* ----------- Pagina de Login ------------- */
#loginpage .main-login {
  border-radius: 12px;
  background: url("../img/symbols-bg.svg"), var(--grad-2);
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 100px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#loginpage .campo-senha {
  position: relative;
}

#loginpage .icone-senha {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 10px;
}

@media (max-width: 768px) {
  #loginpage .main-login div {
    border-color: transparent !important;
  }
  #loginpage .main-login {
    background: var(--grad-2);
  }
}

@media (max-width: 576px) {
  #loginpage .main-login {
    margin: 0 auto;
    border-radius: 0;
    border-bottom: 1px solid var(--cor-8);
  }
}

#loginpage .main-login img {
  max-width: 542px;
}

a {
  transition: .3s;
}

#loginpage .main-login a:hover {
  color: #f5f5f5;
  filter: brightness(1.5) contrast(92%);
}

/* ----------- Pagina do app ----------- */

textarea.input {
  resize: none;
}

.resultado {
  height: 0px;
  transition: .5s;
  overflow: hidden;
}

.resultado-demo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
}

.tag-info {
  border-radius: 8px;
  background-color: #f5f5f5;
  overflow: hidden;
}

.tag-info .tags {
  height: 0px;
  padding: 0px 12px;
  transition: all .3s ease-in-out;
}

.tags.active {
  padding: 12px 12px;
}

.tag-info .requisito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1b1b;
  padding: 12px 18px;
  cursor: pointer;
}

.nota-detalhes {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 32px;
  margin: 0 auto;
  
}

.nota-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nota {
  position: absolute;
}

.circle-2 {
  fill: none;
  stroke: #FF2727;
  stroke-width: 32px;
  stroke-dasharray: 640;
  stroke-dashoffset: 640;
  transition: 2s;
}


.circle-1 {
  fill: none;
  stroke:rgba(0, 0, 0, 0.078);
  stroke-width: 32px;
  stroke-dasharray: 640;
  stroke-dashoffset: 0;
  transition: 2s;
}

.svg-2 {
  position: absolute;
}

.input-result {
  width: 100%;
  outline: none;
  border: 2px solid var(--cor-p1);
  border-radius: 3px;
  padding: 4px 8px;
  margin-bottom: 8px;
  font-size: 0.95rem;
}

@media (max-width: 768px) {
  .resultado-demo {
    grid-template-columns: 1fr;
  }
  .resultado-demo div:nth-child(2) {
    order: 1;
  }
  .resultado-demo div:nth-child(1) {
    order: 2;
  }
  .nota-detalhes {
    width: 100% !important;
  }
  .nota-container {
    display: flex;
  }
}

/* Página de instruções */

#instrucao .info-lista li {
  display: flex;
  align-items: center;
  gap: 4px;
}

#instrucao .info-lista li::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: var(--cor-p1);
  display: block;
  margin-right: 12px;
  transition: .3s;
}

#instrucao .info-lista li:hover::before {
  content: '';
  width: 24px;
  height: 8px;
  background-color: var(--cor-p1);
  display: block;
  margin-right: 8px;
}

#instrucao .sec-1, #instrucao .sec-3 {
  background-color: hsl(0, 0%, 99%);
}

#instrucao .sec-2 img, #instrucao .sec-3 img, #instrucao .sec-4 img {
  border-radius: 12px;
  display: block;
}

/* --------- Classes Utilitarias ----------- */

.opacity-0 {
  opacity: 0;
}

.padding-x-80 {
  padding: 80px 0px !important;
}

.max-width-30ch {
  max-width: 30ch;
}

.formulario {
  background-color: #1e1e1e;
}

/* -------- Media-queries das classes Utilitarias ------------ */
@media (max-width: 1600px) {
  #sec-3 {
    background-position: 900px center !important;
  }
}
@media (max-width: 1200px) {
  #sec-3 {
    background-position: 600px center !important;
  }
}
@media (max-width: 768px) {
  #sec-2 {
    border: none;
  }
  .padding-x-80 {
    padding: 60px 0px;
  }
  #sec-3 {
    background-position: 600px center !important;
  }
}

@media (max-width: 576px) {
  #main-home {
    padding: 140px 0 80px 0;
  }
  .max-width-30ch {
    max-width: 40ch;
  }
  .padding-x-80 {
    padding: 40px 0px;
  }
}