.btn-1, .btn-2 {
  line-height: 1.2;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none !important;
  max-width: max-content;
  transition: .3s;
}

.btn-1 {
  background-image: var(--grad-1);
  color: #191C1A !important;
  text-decoration: none !important;
}

.btn-2 {
  background-color: var(--cor-9);
  color: #DCDCDC;
}

.btn-1:hover {
  background: linear-gradient(180deg, #00ff8cda -3.11%, #38db8ad9 71.4%);
}

.btn-2:hover {
  background-color: #202020;
}

.btn-voltar-cima {
  position: fixed;
  bottom: -60px;
  /* bottom: 16px; */
  right: 16px;
  transition: .5s;
}


.layer {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  animation: spin 1s infinite;
  width: 100px;
  height: 100px;
  border: 12px solid #ffffff;
  border-top-color: var(--cor-p1);
  border-right-color: var(--cor-p1);
  border-bottom-color: var(--cor-p1);
  border-radius: 50%;
  opacity: 1;
  transition: .3s;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
