.btn-1, .btn-2 {
  line-height: 1.2;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none !important;
  max-width: max-content;
  transition: .3s;
}

.btn-1 {
  background-image: var(--grad-1);
  color: #191C1A;
}

.btn-2 {
  background-color: var(--cor-9);
  color: #DCDCDC;
}